*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cont-principal{
    max-width: 1440px;
    margin: 2.5rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.cont-tarjetas{
    width: 44rem;
    position: relative;

    div{
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        width: 33.5rem;

        ul{
            list-style: none;

            li{
                position: relative;
            }

            li:last-child{
                padding-left: 5.5rem;
                padding-top: 2rem;
            }
        }
    }
}

.info-user{
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem 1.5rem;
    width: 100%;
    max-width: 447px;
    box-sizing: border-box;

    p{
        color: #FFF;
        font-family: "Space Grotesk";
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
        margin-top: 3.5rem;
    }

    h2{
        color: #FFF;
        font-family: "Space Grotesk";
        font-weight: 500;
        font-size: 1.1rem;
        margin-top: 2rem;
        text-transform: uppercase;
    }

    article{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
            color: #FFF;
            font-family: "Space Grotesk";
            font-weight: 500;
            font-size: 1rem;
            margin-top: 2rem;
            letter-spacing: 2px;
        }
    }
}

.info-cvv{
    position: absolute;
    right: 10%;
    top: 40%;
    box-sizing: border-box;

    h3{
        color: #FFF;
        font-family: "Space Grotesk";
        font-weight: 500;
        font-size: 1rem;
        margin-top: 2rem;
        letter-spacing: 2px;
    }
}

.cont-formulario{
    width: 37rem;
    padding: 0 10rem 0 0;

    fieldset{
        border: 0;
        
        label{
           display: block;
           font-family: "Space Grotesk";
           font-weight: 500;
           font-size: 1rem; 
           letter-spacing: 1px;
           margin: .5rem 0;
        }

        input{
            width: 100%;
            padding: 0.9rem;
            border: 1px solid #21092f;
            border-radius: 5px;
            font-family: "Space Grotesk";
            font-weight: 500;
            font-size: .9rem;
            text-transform: uppercase;
        }

        input[type="button"]{
            background: #21092f;
            font-size: 1.3rem;
            color: #FFF;
            margin: 1rem 0 0;
        }

        input[type="button"]:hover{
            cursor: pointer;
            background: rgb(97,5,150);
            background: radial-gradient(circle, rgba(97,5,150,1) 0%, rgba(33,9,47,1) 100%);
            transition: all ease 1s;
        }
    }

    fieldset:nth-child(3n){
        width: 55%;
        display: inline-block;
        vertical-align: top;

        input{
            display: inline-block;
            width: 48%;
        }

        input:last-child{
            margin-left: 0.2rem;
        }
    }

    fieldset:nth-child(4){
        display: inline-block;
        width: 44%;
        vertical-align: top;
    }
}

@media (min-width: 1020px) and (max-width: 1439px) {
    .cont-principal {
        margin: 0rem auto 0;
    }

    div.cont-tarjetas {
        width: 33rem;

        > img {
            width: 60%;
        }

        div{
            width: 25.5rem;

            ul li > img{
                width: 100%;
            }

            ul li:last-child{
                padding-left: 0;
            }
        }
    }

    .info-user{
        padding: 1.5rem 1.5rem;
        max-width: 408px;

        p{
            font-size: 1.2rem;
            letter-spacing: 0.4rem;
            margin-top: 3rem;
        }

        h2 {
            margin-top: 1.6rem;            
        }

        article h3{
            margin-top: 1.6rem;
        }
    }
}